.vscode/**
.vscode-test/**
out/test/**

src/**
.gitignore
.eslintcache
pnpm-lock.yaml
.npmrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

.jj/**
_jj-conflicts/**
conflict-example.txt
.git/**
.DS_Store
AGENTS.md
CONTRIBUTING.md
node_modules/**
